.set{
   border-radius: 5px;
   width: 300px;
   height: 300px;
   background-color: brown;
   border: 3px solid black;
    
}

.set2{
    border-radius: 5px;
    width: 300px;
    height: 300px;
    background-color: green;
    border: 3px solid yellow;

}

.classlist{
    font-size: 25px;
    color: aqua;
    letter-spacing: 2px;
    background-color: yellow;
}

/* practice Q style */
    .highlight {
      background-color: yellow;
      color: black;
    }
    .box {
      border: 1px solid black;
      padding: 10px;
      margin: 10px;
    }

    #box2{
      width: 200px;
      height: 200px;
      border: 2px solid black;
      background-color: aqua;
    }
.keyword{
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
